<header>
  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <h2 class="nav-heading pull-left"><a href="/">Sunrise Robot</a></h2>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Podcasts <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% data.shows.each_pair do |show, info| %>
                <li><a href="/<%= data.shows[show]["stub"] %>"><%= data.shows[show]["title"] %></a></li>
                <% end %>
              </ul>
            </li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="mailto:hello@sunriserobot.net">Advertise</a></li>
            <li><a href="/support" onclick="ga('send', 'event', 'support', 'click', 'from_header', 1);">Support</a></li>
            <li class="hidden-xs"><a href="http://twitter.com/sunriserobot" class="social"><i class="fa fa-lg fa-twitter fa-fw"></i> <span class="sr-only">Twitter</span></a></li>
            <li class="hidden-xs"><a href="https://www.facebook.com/sunriserobot" class="social"><i class="fa fa-lg fa-facebook fa-fw"></i> <span class="sr-only">Facebook</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>