<% wrap_layout :layout do %>
<div class="container">
    <div class="blog">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 col-md-push-1 col-lg-push-2">
          <article class="blog-entry">
            <p class="blog-date"><%= current_article.date.strftime("%B %-d, %Y") %></p>
            <h1 class="blog-title"><%= current_article.title %></h1>
              <%= yield %>
          </article>
          <hr class="blog" />
          <p class="blog-home-link"><a href="/blog"><i class="fa fa-angle-left fa-fw"></i>back to H3LiOS' Log</a></p>
        </div>
      </div>
    </div>
</div>
<% end %>

