    <article>
      <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-10 col-lg-8 col-md-push-1 col-lg-push-2">
              <h2>We're Michael Edwards & David Lyons and we created Sunrise Robot.</h2>
              <p>In early 2014 we started a podcast called Flipping Tables. Every week we've released a new episode through sickness, blizzards, and whatever else life sent our way. We realized this was no longer just a hobby, but something we wanted to grow beyond one show. With Michael's killer designs and Lyons hacking away in vim we built a website and launched Sunrise Robot as an entire network of shows for technologists, gamers, artists and cultural enthusiasts.</p>
              <p>All our shows will always be free, but with your support we can cover infrastructure costs, invest in equipment to make our shows sound even better, and launch new shows.</p>
              <p>Flipping Tables was a success because of you, and with your support we can make Sunrise Robot even greater.             </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-lg-4 col-md-push-1 col-lg-push-2">
              <h3>Rate and review us on iTunes!</h3>
              <ul>
              <% shows = YAML.load_file("source/data/shows.yml") %>
              <% shows.each do |show| %>
                <li><a href="<%= show["itunes"] %>"><%= show["title"] %></a></li>
              <% end %>
              </ul>
            </div>
            <div class="col-md-5 col-lg-4 col-md-push-1 col-lg-push-2">
              <h3>Support us on Patreon!</h3>
              <p>We appreciate your donations, no matter the amount.</p>
              <a href="http://patreon.com/sunriserobot" class="btn btn-lg btn-support">Support us on Patreon</a>
              <h4>Our awesome patrons</h4>
              <ul>
                <li>Bruce Edwards</li>
                <li>Benji</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
